<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>36285362982-veb34f07cqt5i70d2762m8u39o80g6d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36285362982-veb34f07cqt5i70d2762m8u39o80g6d3</string>
	<key>API_KEY</key>
	<string>AIzaSyAa_EptTVmjtF04rE_sZABSSlemXwl5GmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>36285362982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andela.FoodApp-ios</string>
	<key>PROJECT_ID</key>
	<string>food-app-ios-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-ios-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36285362982:ios:c477dee6617b0cf5</string>
	<key>DATABASE_URL</key>
	<string>https://food-app-ios-dev.firebaseio.com</string>
</dict>
</plist>